@charset "UTF-8";

body{
    background-color: aqua;
font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(65, 195, 195);
}
h1#principal{
color: white;
text-align: center;
background-color: rgb(65, 195, 195);
}
h2{
    color: rgb(24, 172, 240);
}
.basico{
color: royalblue;
font-weight: bold;
}
.intermediario{
   color: rgb(19, 70, 225);
}
.avancado{
color: rgb(0, 55, 222);
}